@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
//I have put tailwind classes here to reduce component pollution
@layer utilities {
  .bg-gradient-custom {
    @apply bg-gradient-to-b from-[#373E44] to-[#191B1F] h-screen w-screen;
    background-size: 100% 100%;
  }

  .grid-pattern {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.03) 3px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.03) 1px, transparent 1px);
    background-size: 50px  50px;
  }
.card{
  background: #363C43;
  box-shadow: 5.67px 5.67px 3.78px rgba(0, 0, 0, 0.4);
  border-radius: 18.8904px;

}
  .card-header {
    @apply rounded-[23px] w-[614px] font-medium h-[58px] flex items-center text-white font-Poppins  bg-[#171717] mt-5 justify-between shadow-[-1px_-1px_10px_2px_#000000]; 
  }

  .btn {
    @apply w-[195px] h-[49px] px-[10px] py-[24px] flex justify-center items-center;
  }

  .btn:hover {
    @apply bg-[#28292F] rounded-[16px] shadow-[13.49px_16.87px_67.47px_8.43px_#0A0A0A]; 
  }

.card-header-two{
  @apply w-[calc(100%-10rem)] mt-5 flex justify-between items-center
}
.plusButton {
  @apply w-[131.32px] h-[46px] rounded-[104px] font-Jakarta font-extrabold text-white text-[12px];
  background-opacity: 3%;
  background-color: #373E44;
  box-shadow: inset 0px 0px 48.9064px rgba(255, 255, 255, 0.05),
              inset 0px 3.26043px 3.26043px rgba(255, 255, 255, 0.15),
              9px 10px 7.1px rgba(0, 0, 0, 0.4),
              -0.5px -0.5px 6.9px rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(sm);


}
.Arrow{
  @apply flex justify-center items-center;
border-radius:100px;
background: linear-gradient(139.14deg, #303439 12.4%, #161718 94.96%);
box-shadow: -5px -3px 30px -10px #96BEE7, 4px 5px 30px 5px #101213;
width: 45px;
height: 45px;
gap: 0px;
opacity: 0px;
}
.breaker{
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05)), linear-gradient(180deg, rgba(40, 40, 40, 0.1) 0%, rgba(248, 248, 248, 0.1) 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.33);
  backdrop-filter: blur(4.91866px);
  border-radius: 2.45933px;
  

}
.imageCard{
  @apply w-[190px] h-[179px]
}
//Here customised the scrollbar
.articleCard{
  ::-webkit-scrollbar {
    width: 8px;
    height:64px;
    background:inherit;
  
  }

  ::-webkit-scrollbar-thumb {
width: 8px;
height: 64px;
background: linear-gradient(177.32deg, #888989 5.6%, #4A4E54 93.28%);
box-shadow: 4px 4px 4.9px rgba(0, 0, 0, 0.25);
border-radius: 8px;
  }

}

}




